#!/bin/bash

alias reload!='. ~/.zshrc'

# -=-= Custom =-=-
alias github="cd ${CODEBASE}/git"
alias gop="cd ${GOPATH}/src/github.com"
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# -=-= Cleanup =-=-
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# -=-= Quick Links =-=-
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# -=-= Applications =-=-
alias typora="open -a typora"

# Exist only for Java 1.8 - need to use a full path
alias visualvm="${JAVA_8_HOME}/bin/jvisualvm &"

# -=-= ZSH =-=-
alias zshconfig="vim ~/.zshrc"

# -=-= Screen =-=-
alias cls='clear' # Good 'ol Clear Screen command
alias c="clear"

# -=-= Core Replacements =-=-
alias mv="mv -iv"
alias cp="cp -riv"
alias mkdir="mkdir -vp"

# -=-= Quicker navigation =-=-
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# -=-= GLS =-=-
if $(gls &>/dev/null)
then
    alias ls="gls -F --color"
    alias l="gls -lAh --color"
    alias ll="gls -l --color"
    alias la='gls -A --color'
    alias lsd='gls -lF ${colorflag} | grep "^d"'
fi
alias path='echo $PATH | tr -s ":" "\n"'

# -=-= Keys =-=-
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# -=-= Java =-=-
alias java8='export JAVA_HOME=${JAVA_8_HOME}'
alias java9='export JAVA_HOME=${JAVA_9_HOME}'
alias java10='export JAVA_HOME=${JAVA_10_HOME}'
alias java11='export JAVA_HOME=${JAVA_11_HOME}'
alias java12='export JAVA_HOME=${JAVA_12_HOME}'

# -=-= GO =-=-
alias go1.13='export GOROOT=${GOROOT_1_13}'
alias go1.14.3='export GOROOT=${GOROOT_1_14_3}'

# -=-= IntelliJ =-=-
INTELLIJ_VERSION_FOLDER=IntelliJIdea2020.1
alias ij-cache="cd ~/Library/Caches/JetBrains/${INTELLIJ_VERSION_FOLDER}"
alias ij-pref="cd ~/Library/Preferences/JetBrains/${INTELLIJ_VERSION_FOLDER}"
alias ij-plug="cd ~/Library/Application\ Support/JetBrains/${INTELLIJ_VERSION_FOLDER}"
alias ij-logs="cd ~/Library/Logs/JetBrains/${INTELLIJ_VERSION_FOLDER}"