#!/bin/bash

if (( $+commands[yarn] ))
then
  export PATH="$PATH:`yarn global bin`"
fi

export LSCOLORS="exfxcxdxbxegedabagacad"
export CLICOLOR=true

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"


# export GOVERSION=$(brew list go 2> /dev/null | head -n 1 | cut -d '/' -f 6)
# export GOROOT=$(brew --prefix)/Cellar/go/$GOVERSION/libexec

export GOROOT="$(brew --prefix golang)/libexec"

export KUBECONFIG="/Users/roporter/SyncThing/Home/kubeconfig"
